@import "../../base/var";

.main-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-left: -38px;

  &--opened_item {
    .main-blocks__item:not(.main-blocks__item--create):not(.main-blocks__item--opened) {
      opacity: 0.5;
    }
  }

  &__item {
    margin-left: 38px;
    margin-bottom: 38px;
    background: white;
    box-shadow: 0px 2px 12px rgba(117, 117, 117, 0.1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: calc(33.33% - 38px);
    padding: 18px 32px;
    transition: 0.3s;
    position: relative;

    &--create {
      box-shadow: 0px 2px 12px rgba(117, 117, 117, 0.1);
      border: 2px dashed $yellow;
      padding: 43px 0 31px;
      cursor: pointer;
      align-items: center;
      justify-content: center;

      span {
        font-family: $titleFont;
        font-weight: bold;
        font-size: 12.8193px;
        line-height: 13px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        margin-top: 27px;
      }
    }

    &--shop {
      padding: 0;
    }
  }

  &__item-absolute {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 2px 12px rgba(117, 117, 117, 0.1);
    padding: 18px 32px;

    &--active {
      position: absolute;
      background: white;
      height: auto;
      z-index: 10;
    }
  }

  &__with-buttons {
    display: flex;
  }

  &__title {
    font-family: $titleFont;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    margin-bottom: 17px;

    &--cashier {
      margin-bottom: 12px;
      min-height: 38px;
    }

    &--shop {
      color: #616161;
      line-height: 22px;
      margin-bottom: 3px;
      margin-right: auto;
    }
  }

  &__description {
    font-family: $titleFont;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #616161;
    margin-bottom: 15px;

    &--shop {
      margin-bottom: 10px;
    }
  }

  &__link {
    font-family: $titleFont;
    font-size: 14px;
    line-height: 16px;
    color: #616161;
    padding: 0 0 0 24px;
    position: relative;
    margin-bottom: 14px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
    }

    &--yellow {
      color: $yellow;
    }

    &--delete {
      &:before {
        top: -4px;
        height: 20px;
        background-image: url('../img/delete-icon.svg');
      }
    }

    &--delete_yellow {
      &:before {
        top: -4px;
        height: 20px;
        background-image: url('../img/delete-icon-yellow.svg');
      }
    }

    &--stop {
      &:before {
        height: 16px;
        background-image: url('../img/stop-icon.svg');
      }
    }

    &--reset {
      &:before {
        top: 1px;
        height: 14px;
        background-image: url('../img/reset-icon.svg');
      }
    }

    &--edit {
      &:before {
        height: 16px;
        background-image: url('../img/edit-icon-yellow.svg');
      }
    }

    &--shop_cashier {
      padding-left: 18px;
      margin-right: auto;
      margin-bottom: 9px;

      &:before {
        top: 2px;
        width: 12px;
        height: 12px;
        background-image: url('../img/shop-cashier-icon.png');
      }
    }

    &--more {
      padding-left: 17px;
      margin-bottom: 2px;
      cursor: pointer;

      &:before {
        top: 5px;
        width: 11px;
        height: 7px;
        background-image: url('../img/select.png');
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__button {
    margin-right: 6px;
    display: block;
    width: 15px;
    cursor: pointer;
    flex-shrink: 0;

    &--delete {
      width: 13px;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }
}

.more-cashiers {
  display: none;

  &--visible {
    display: block;
  }
}