// fonts

$titleFont: 'Roboto';
$textFont: 'Open Sans';
$numberFont: 'Montserrat Bold';

// colors

$bodyColor: #FBFBFB;
$yellow: #FFC700;
$tableGrey: rgba(0, 0, 0, 0.06);
$textColor: #363636;

// mixins

@mixin placeholderColor($color) {
  &::-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}